        </div>
        <div class="container">
            <hr>
            &copy; Copyright 20014 by <a href="http://debans-network.info/">Debans Network</a>.
        </div>
        <script type="text/javascript" src="/jquery/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/jasny/js/jasny-bootstrap.min.js"></script>

        <script type="text/javascript" src="/noty/js/noty/packaged/jquery.noty.packaged.min.js"></script>
        <script type="text/javascript" src="/touchspin/jquery.bootstrap-touchspin.min.js"></script>
        <script type="text/javascript" src="/apps/js/bootstrap-switch.min.js"></script>

        <script type="text/javascript" src="/DataTable/js/jquery.dataTables.js"></script>
        <script type="text/javascript" src="/DataTable/bootstrap/3/dataTables.bootstrap.js"></script>

        <script type="text/javascript" src="/timeago/jquery.timeago.js"></script>
        
        <script type="text/javascript" src="/apps/js/app.js"></script>
    </body>
</html>