<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="http://assets.debans.net/theme/hub/favicon.ico">

        <title>Node Postfix :: <% if (title) { %><%= title %><% }else{%>Nope<%} %></title>

        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/jasny/css/jasny-bootstrap.min.css" />
        <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />

        
        <link rel="stylesheet" href="/apps/css/bootstrap3/bootstrap-switch.min.css" />
        <link rel="stylesheet" href="/touchspin/jquery.bootstrap-touchspin.min.css" />
        <link rel="stylesheet" href="/DataTable/bootstrap/3/dataTables.bootstrap.css" />

        <link rel="stylesheet" href="/apps/css/app.css" />

    </head>
    <body>
        <div class="container" id="container-nav">
            <nav class="navbar navbar-default navbar-inverse" id="menu-wrap">
                <div class="container-fluid" id="navv">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">PF.JS</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/">Home</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Domaine <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="dropdown-header">Gestion des domaine</li>
                                    <li><a href="/domain">Liste</a></li>
                                    <li><a href="/domain/add">Ajouter</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Domaine <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/mail">Liste</a></li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">Gestion des E-mail</li>
                                    <li><a href="/mail/box">Liste</a></li>
                                    <li><a href="/mail/box/add">Ajouter</a></li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">Gestion des Alias</li>
                                    <li><a href="/mail/alias">Liste</a></li>
                                    <li><a href="/mail/alias/add">Ajouter</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
            </nav>
        </div>
        <div class="container">